@{
    Layout = "_Layout";
}

<div class="text-center">
    <p>
        Crear dos input, filas y columnas donde se ingresan estos datos y se genere automáticamente
        una tabla con las dimensiones suministradas
    </p>

</div>

@*<div class="form-group">*@
<div class="row">
    <div class="col-md-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <div id="btnGroupAddonCol" class="input-group-text bg-primary" style="color:white">Columna:  </div>
            </div>
            <input type="number" placeholder="Columna." class="form-control" id="colInput" aria-describedby="btnGroupAddonCol" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <div id="btnGroupAddonRow" class="input-group-text bg-primary" style="color:white">Fila:  </div>
            </div>
            <input type="number" placeholder="Fila." class="form-control" id="rowInput" aria-describedby="btnGroupAddonRow" />
        </div>
    </div>

    <div class="col-md-3">
        <button class="btn btn-success" onclick="GetTable()">Generar <i class="fas fa-check-circle"></i></button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead id="theadTable">
            @*<tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>*@
        </thead>
        <tbody id="tbodyTable">
        </tbody>
    </table>
</div>
@*</div>*@

<script src="~/js/Table.js" asp-append-version="true"></script>